/**
 * BO (Business Object - 业务对象)
 * 负责定义 Service 层对外输出的数据
 */

import { ApiProperty } from '@nestjs/swagger';

// 建议引入 Entity (ORM) 中定义的接口
// import { I{{ upperName }} } from '@/extends/sequelize';

export class {{ upperName }}BO
// implements I{{ upperName }}
{
  @ApiProperty({ name: 'name', type: String, required: true, example: 'chogath', description: '名字' })
  name: string;
}