import { Injectable } from '@nestjs/common';

/** {{ upperName }} 提供者 */
@Injectable()
export class {{ upperName }}Provider {}

// /**
//  * {{ upperName }} 提供者
//  *
//  * @example:
//  *  @Inject({{ upperName }}Provider.provide)
//  *  private readonly {{ fileName }}: I{{ upperName }}Provider
//  *
//  * @example:
//  *  inject: [{{ upperName }}Provider.provide]
//  */
// export class {{ upperName }}Provider {
//   public static readonly provide = Symbol('{{ upperName }}Provider');

//   public static getProvider() {
//     return {
//       inject: [],
//       provide: this.provide,
//       useFactory: async () => {},
//     };
//   }
// }