import { Injectable } from '@nestjs/common';

/** {{ upperName }} 提供者 */
@Injectable()
export class {{ upperName }}Provider {}

// import { BaseConfig, ConfigFactoryProvider } from '@/extends/config';

// /** {{ upperName }} 工厂提供者（支持异步加载） */
// export class {{ upperName }}FactoryProvider {
//   public static readonly provide = '{{ upperName }}'

//   public static getProvider() {
//     return {
//       provide: this.provide,
//       inject: [ConfigFactoryProvider],
//       useFactory: async (config: BaseConfig) => {
//         // const options = config.get();
//       },
//     };
//   }
// }