import { Column, DataType, Table } from 'sequelize-typescript';

import { BaseEntity, IBaseEntity } from '../common';

export interface I{{ upperName }} extends IBaseEntity {
  name?: string;
}

@Table({ tableName: '{{ fileName }} ', comment: '{{ upperName }}表' })
export class {{ upperName }}
  extends BaseEntity<{{ upperName }}>
  implements I{{ upperName }}
{
  @Column({ allowNull: false, comment: '名字', type: DataType.STRING(60) })
  name: string;
}