import { Module } from '@nestjs/common';

import { {{ upperName }}Controller } from './controller';
import { {{ upperName }}Provider } from './provider';
import { {{ upperName }}Service } from './service';

@Module({
  controllers: [{{ upperName }}Controller],
  exports: [{{ upperName }}Service, {{ upperName }}Provider],
  providers: [{{ upperName }}Service, {{ upperName }}Provider],
})
export class {{ upperName }}Module {}
